<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Боты</h1>
</div>

<div class="row">
    <div class="card shadow mb-4" style="width: 100%;">
        <div class="card-body">
            <a style="margin: 10px; float: right;" href="/api/admin/bot/create" class="btn btn-primary btn-icon-split">
                <span class="text">Создать бота</span>
            </a>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableBots" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Действие</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {{#each bots}}
                        <tr>
                            <td>{{ this.id }}</td>
                            <td>{{ this.username }}</td>
                            <td>
                                <a href="/api/admin/bot/{{ this.id }}" class="btn btn-primary btn-icon-split">
                                    <span class="text">Подробнее</span>
                                </a>
                                <a href="/api/admin/bot/{{ this.id }}/delete" class="btn btn-danger btn-icon-split">
                                    <span class="text">Удалить</span>
                                </a>
                            </td>
                        </tr>
                    {{/each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('#dataTableBots').dataTable({
        "order": [[ 0, 'desc' ]]
    });
</script>
